<div class="dropdown">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-user-tie"></i>
        {{session.username}}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/{{language.CurrentLanguage}}/profile"><i class="fas fa-id-card"></i>
            {{language.userInfo.MyProfile}}</a>
        <a class="dropdown-item" href="/en"><i class=""></i> Opcion 2</a>
        <a class="dropdown-item" href="/de"><i class=""></i> Opcion 3</a>
        <a class="dropdown-item" href="/fr"><i class=""></i> Opcion 4</a>
        <a class="dropdown-item" href="/jp"><i class=""></i> Opcion 5</a>
        <a class="dropdown-item" href="/it"><i class=""></i> Opcion 6</a>
    </div>
</div>
