<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../public/img/40.png" />
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../../public/js/bootstrap.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="../../public/js/jquery.js">
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/styles.css">
    <script src="https://kit.fontawesome.com/747fbeff96.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="row">
            <a class="navbar-brand" href="/"><img src="../../public/img/LogoAuroraDev1.0.png" alt="logo"> Aurora
                Development</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse navbar-adjustment" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/library">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Software</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forum">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/our-services">Nuestros servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contáctenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
        </div>
    </div>


</body>

</html>