<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/40.png" />
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/flaticon/flaticon.css">
    <script src="https://kit.fontawesome.com/747fbeff96.js"></script>


</head>

<body>
    {{> extras/navbar}}
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            {{#if sidebar.stats.softwares}}
            <div class="col-md-4">
                {{> sidebar/stats}}
                {{> sidebar/popular}}
                {{> sidebar/comments}}
            </div>
            {{/if}}
        </div>
    </div>

    {{> components/footer}}


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/jquery"></script>
    <script src="/public/js/scripts.js"></script>


</body>

</html>