<style>
    body {
        background-image: url("https://hdqwalls.com/download/aurora-borealis-moon-night-ce-1920x1080.jpg");
    }
</style>

<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-envelope"></i> Contáctanos
        </h3>
    </div>
    <div class="card-body">
        <form action="/contact-us/send" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <i class="fas fa-tag sender-icon"></i>
                <input type="text" name="subject" class="form-control" placeholder="Ingrese un asunto" required>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope sender-icon"></i>
                <input type="text" name="sender" class="form-control" placeholder="Ingrese su correo electrónico"
                    required>
            </div>
            <div class="form-group">
                <i class="fas fa-info-circle sender-icon"></i>
                <textarea name="issue" class="form-control" rows="2" placeholder="Ingrese el contenido del correo"
                    required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="far fa-share-square"></i> Enviar email
                </button>
            </div>
        </form>
    </div>
</div>