<div class="card mb2">
    <div class="card-header bg-dark text-white">
        <h5> <i class="fas fa-fire"></i> {{language.softwareInfo.mostPopulars}}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each sidebar.popular}}
            <div class="col-md-4">
                <a href="/{{languageFinder}}/software/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" class="w-100 h-100 image-thumbnail" alt="xd">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>