<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/8/8/2/44864.jpg");
    }
</style>

<div class="container-fluid p-4">
    <div class="col-md-8">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3> <i class="far fa-clock"></i> {{language.libraryInfo.uploadABook}}</h3>
                    <p>{{language.libraryInfo.bookSectionInfo}} </p>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>