<div class="tab-content col-lg-12" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {{> components/profileComponents/userHome}}
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab">
        {{> components/profileComponents/userConfig}}
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        {{> components/profileComponents/userContact}}
    </div>
    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
        {{> components/profileComponents/userPaymentHistory}}
    </div>
</div>
