<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/5/1/8/44860.jpg");

        /* Background image is centered vertically and horizontally at all times */
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
        background-attachment: fixed;

        /* This is what makes the background image rescale based
     on the container's size */
        background-size: cover;

        /* Set a background color that will be displayed
     while the background image is loading */
        background-color: #464646;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "montserrat", sans-serif;
        box-sizing: border-box;
    }


    .services-section {
        background-color: none;
        background-size: cover;
        padding: 20px 0;
        opacity: 1;




    }



    .inner-width {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        overflow: hidden;

    }

    .section-title {
        text-align: center;
        color: #ddd;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
    }

    .border {
        width: 250px;
        height: 2px;
        background: #82ccdd;
        margin: 30px auto;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-box {
        max-width: 33.33%;
        padding: 10px;
        text-align: center;
        color: #ddd;
        cursor: pointer;
    }

    .service-box:hover {
        transform: scale(1.1);

        font-weight: bold;
    }

    .service-box:hover .service-desc {
        font-size: 1.4em;
    }



    .service-icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        border: 3px sol color: #82ccdd;

        transform: rotate(45deg);
        margin-bottom: 30px;
        margin-top: 16px;
        transition: 0.3s linear;
    }

    .service-icon i {
        line-height: 70px;
        transform: rotate(-45deg);
        font-size: 26px;
    }

    .service-box:hover .service-icon {
        background: #82ccdd;
        color: #ddd;

    }



    /*not working
.service-box:hover .services-container{
    filter: blur(9px);
    
}/*not working*/
    .service-title {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .service-desc {
        font-size: 14px;
    }

    /*dark overlay */
    .dark-overlay {
        margin: -50px -50px -200px -50px;
        background-color: rgba(0, 0, 0, 0.5);

    }

    @d
    }

    @media screen and (max-width:768px) {
        .service-box {
            max-width: 50%;
            overflow-y: auto;

        }

    }

    @media screen and (max-width:480px) {
        .service-box {
            max-width: 100%;
            overflow: auto;
        }


        .service-box:hover .service-desc {
            font-size: 1.2em;
        }


    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<div class="dark-overlay">
    <div class="services-section">
        <h1 class="section-title">Our Services</h1>
        <div class="border"></div>
        <div class="services-container">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Web Designs</div>
                <div class="service-desc">
                    Diseñamos paginas web innovadoras y dinamicas enfocadas en dar una experiancia de usurio
                    diferenciadora.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="service-title">Web Development</div>
                <div class="service-desc">
                    Hacemos desarrollos Full Stack Js con uso de tecnologias y herraientas modernas que garantizan
                    eficiencia.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-brush"></i>
                </div>
                <div class="service-title">Responsive Designs</div>
                <div class="service-desc">
                    Todos nuestros desarrollos tiene interfaces de usuarios adaptables a cualquier dipositivo (PC,
                    Tablet, Mobil )

                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-object-ungroup"></i>
                </div>
                <div class="service-title">Consulting</div>
                <div class="service-desc">
                    Si tiene s un proyecto web iniciado te asesoramos en todos los niveles.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-database"></i>
                </div>
                <div class="service-title">Databases</div>
                <div class="service-desc">
                    Garantizamos la persistenciade tus datos y te asesoramos para escoger entgre bases de datos
                    relacionales y no relacionales.
                    Contamos con certificados de AWS y te conectamos con sus servicios en la nube.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fab fa-android"></i>
                </div>
                <div class="service-title">Android</div>
                <div class="service-desc">
                    Realzamos aplicaciones nativas Android escalables y de facil mantenimiento
                </div>
            </div>
        </div>
    </div>
</div>