<style>
    body {
        background-image: url("https://wallpaperplay.com/walls/full/5/1/8/44860.jpg");
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" href="/public/css/ourservices.css">
<div class="p-4 mb-5">
    <div class="dark-overlay">
        <div class="services-section">
            <h1 class="section-title">Our Services</h1>
            <div class="services-container p-5 mb-5">
                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <div class="service-title">Web Designs</div>
                    <div class="service-desc">
                        Diseñamos paginas web innovadoras y dinamicas enfocadas en dar una experiancia de usurio
                        diferenciadora.
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="service-title">Web Development</div>
                    <div class="service-desc">
                        Hacemos desarrollos Full Stack Js con uso de tecnologias y herraientas modernas que garantizan
                        eficiencia.
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-brush"></i>
                    </div>
                    <div class="service-title">Responsive Designs</div>
                    <div class="service-desc">
                        Todos nuestros desarrollos tiene interfaces de usuarios adaptables a cualquier dipositivo (PC,
                        Tablet, Mobil )

                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-object-ungroup"></i>
                    </div>
                    <div class="service-title">Consulting</div>
                    <div class="service-desc">
                        Si tienes un proyecto web iniciado te asesoramos en todos los niveles.
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <div class="service-title">Databases</div>
                    <div class="service-desc">
                        Garantizamos la persistenciade tus datos y te asesoramos para escoger entgre bases de datos
                        relacionales y no relacionales.
                        Contamos con certificados de AWS y te conectamos con sus servicios en la nube.
                    </div>
                </div>

                <div class="service-box p-5 mb-5">
                    <div class="service-icon">
                        <i class="fab fa-android"></i>
                    </div>
                    <div class="service-title">Android</div>
                    <div class="service-desc">
                        Realizamos aplicaciones nativas Android escalables y de facil mantenimiento
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>