<style>
    body {
        background-image: url("http://www.toca-ch.com/data/walls/8/21589854.jpg")
    }
</style>

<div class="card">
    <div class="card-header service-title" id="">
        <div class="card-header"></div>
    </div>
    <div class="card-header service-title" id="">
        
    </div>
    <div class="card-header service-title">
        
    </div>
    <div class="card-header service-title">
        
    </div>
</div>