<div class="p-2">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="home-tab">
            {{> components/libraryComponents/books}}
        </div>
        <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="profile-tab">
            {{> components/libraryComponents/courses}}
        </div>
        <div class="tab-pane fade" id="bookshelf" role="tabpanel" aria-labelledby="contact-tab">
            {{> components/libraryComponents/bookshelf}}
        </div>
        <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="contact-tab">
            {{> components/libraryComponents/wishlist}}
        </div>
    </div>
</div>